*{}

::selection {color:#fff;background-color:#007236;}
::-moz-selection {color:#fff;background-color:#007236;}

body{
	font-family: 'Open Sans', sans-serif!important;
	transition: all 1s;
	-webkit-transition: all 1s; /* Safari */
	margin:0;
	padding:0;
	position:relative;
	background-color:#fff;
}
h1,h2,h3,h4,h5,h6{margin:0;}
.clearBoth{clear:both;}
.center{
	width:960px;
	margin:0 auto;
}
#bannerHome,#conhecaInovacao,#nossasMarcas,#parceiros,#contato{
	clear:both;
	margin-bottom:20px;
}
.modal.fade.in{z-index: 2000!important;}
.tituloPagina{
	font-size:30px;
	color:#333;
	text-align:center;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	padding:5px 0;
}
/* -- -- -- -- -- TOPO -- -- -- -- -- */
.topo{
	width:100%;
	height:160px;
	position:fixed;
	top:0;
	background-color:rgba(255,255,255,1);
	box-shadow:1px 1px 2px 0 rgba(0,0,0,.07);
	z-index:10;
}
.topo .center{
	height:160px;
	position:relative;
	background:none!important;
}
.topo .center:after{
	position:absolute;
	bottom:-10px;
	left:0;
	content:'';
	background-image:url(../img/shadow.png);
	background-repeat:no-repeat;
	background-position:center;
	opacity:.5;
	display:block;
	width: 100%;
	height: 10px;
}
.topo,.topo .center,#logo img,.topoFixo #navTopo,.topoFixo #navTopo a{
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari */
}
.topoFixo{
	background-color:rgba(255,255,255,.9);
	height:80px;
}
.topoFixo .center{height:80px;}
.topoFixo #logo img{
	width:45px;
	margin-top:6px;
}
.topoFixo #navTopo{margin: 28px 0 0 35px;}
.topoFixo #navTopo a{margin-right:80px;font-size:14px;}

#logo{
	width: 82px;
	display:block;
	float:left;
}
#logo a {display:block;}
#logo img{
	width: 100%;
	margin-top:20px;
	text-indent:0px;
}
#logo strong{
text-indent:-9999px;
display:inline-block;
width:0;height:0;
float:left;
}

#navTopo{
	float:left;
	margin:90px 0 0 130px;
}

#navTopo a{
	color:#666;
	font-size:18px;
	margin-right:40px;
}
#navTopo a:last-child{margin-right:0!important;}
#navTopo a:hover{
	text-decoration:none;
	color:#007236;
}
/* -- -- -- -- -- BANNER-HOME -- -- -- -- -- */
#bannerHome{
	max-width:1600px;
	height:auto;
	margin-top:160px;
	margin-left:auto;
	margin-right:auto;
}
#bannerHome .carousel-control{background-image:url(../img/arrowsBanner.png)!important}
.carousel-control.left{background-position:0px -1px;}
.carousel-control.right{background-position:40px -1px;}

.textoBanner{
	width: 280px;
	padding: 20px;
	background-color: rgba(0,0,0,.6);
	position: absolute;
	bottom: 20px;
	left: 70px;
}
.textoBanner p{
	font-size:22px;
	line-height:32px;
	color:#fff;
}
.textoBanner a{
	font-size:16px;
	margin-top:25px;
	display:block;
	color:#fff;
	text-align:right;
}
.textoBanner a:hover{
	color:rgba(255,255,255,0.75);
	text-decoration:none;
}
/* -- -- -- -- -- SUB BANNERS -- -- -- -- -- */
#subBanners{
	margin-top:40px;
}
#subBanners article{
	width:290px;
	margin-right:45px;
	margin-bottom:60px;
	float:left;
}
#subBanners article:last-child{margin-right:0;}
#subBanners a{}
#subBanners a:hover{
	text-decoration:none;
	}
#subBanners a:hover h3{color:#007236;}

#subBanners h3{
	font-size:18px;
	color:#666;
	display:block;
	text-align:center;
	margin-bottom:5px;
}
#subBanners img{
	width:100%;
	height:160px;
	margin-bottom:10px;
}
#subBanners p{text-align:justify;}
/* -- -- -- -- -- CONHECA-INOVACAO -- -- -- -- -- */
#conhecaInovacao{
	height:560px;
}
#conhecaInovacao article{
	width:600px;
	float:left;
	margin-top:40px;
}
#conhecaInovacao div{margin-bottom:40px;}
#conhecaInovacao  h4{margin-bottom:10px;font-size:22px;}
#conhecaInovacao p{}
#conhecaInovacao img{
	float: left;
	margin: 155px 0 0 40px;
	width: 320px;
	height: 250px;
}

/* -- -- -- -- -- NOSSAS-MARCAS -- -- -- -- -- */
#nossasMarcas{
	padding:0px 0 40px 0;
}
#nossasMarcas .carousel-control{background-image:url(../img/arrowsParceiros.png)!important}
#carouselMarcas > .carousel-inner{padding: 0px 0 40px 0;}
#carouselMarcas > .carousel-inner ul{
	width: 840px;
	display: block;
	margin: 20px auto 0 auto;
}
#carouselMarcas > .carousel-inner ul li{
	width:265px;
	height:165px;
	margin-top:20px;
	margin-right:20px;
	display:block;
	float:left;
	cursor:pointer;
	background-color:#ccc;
}
#carouselMarcas > .carousel-inner ul li:last-child{margin-right:0;}
#carouselMarcas > .carousel-inner ul li:hover,.marcaSelecionada{
/*	background-image:url(../img/shadow.png);
	background-repeat:no-repeat;
	background-position: center bottom;
	width:100%;
	*/
}

#carouselMarcas > .carousel-inner ul li,.marca{
	transition: all .5s;
	-webkit-transition: all .5s; /* Safari */
}

.marca{
	width:100%;
	opacity:0;
}

.marcaHide>*,
.marcaHide>*>*,
.marcaHide>*>*>*,
.marcaHide>*>*>*>*,
.marcaHide>*>*>*>*>*,
.marcaHide>*>*>*>*>*>*,
.marcaHide>*>*>*>*>*>*>*{
height: 0!important;
margin: 0!important;
padding: 0!important;
border-spacing: 0!important;
line-height: 0!important;
font-size: 0!important;
border: 0!important;
}

.marcaShow>*{height:auto!important;}

.marcaShow{
	width:100%;
	height:auto;
	margin:0;
	opacity:1;
	display: inline-block;
}

.colunaUm{
	width:560px;
	height:auto;
	margin-bottom:20px;
	float:left;
}
.colunaUm h3{font-size:28px;margin-bottom:10px;}
.colunaUm p{padding-right:20px;}
.contatosMarca{
	display: inline-block;
	margin-top:10px;
}
.contatosMarca a, .contatosMarca span{
	display: inline-block;
	float: left;
	clear: both;
	height: 40px;
	line-height: 40px;
	font-size:16px;
	color:#333;
}
.contatosMarca span > a{
	float: none!important;
}
.icoContato{
	padding-left:55px;
	background-image:url(../img/iconesContatos.jpg);
	background-repeat:no-repeat;
}
.contatosMarca a{text-decoration:underline;}
.contatosMarca a:hover{color:#666;}

.icoSite{background-position:-2px 1px;}
.icoTel{background-position:-1px -47px;}
.icoMail{background-position:-1px -96px;}
.icoApresent{background-position:-1px -148px;}

.colunaDois{
	width:400px;
	float:left;
	padding-top:50px;
}
.midiaMarca{
	width:400px;
}
.redesMarca{
	width:400px;
	display:inline-block;
}
.redesMarca span{
	font-size:22px;
	float: left;
	display: block;
	width: 100%;
	margin: 20px 0;
	}
.redesMarca a{
	width: 50px;
	height: 20px;
	display: block;
	float: left;
	background-image: url(../img/iconesSocial.jpg);
	background-repeat: no-repeat;
	margin-right: 15px;
	padding-top: 50px;
	text-align: center;
	font-size: 12px;
	color: #333;
}
.redesMarca a:hover{color:#666}
.icoFacebook{background-position:-2px 0;}
.icoTwitter{background-position:-54px 0;}
.icoPintrest{background-position:-158px 0;}
.icoGPlus{background-position:-106px 0;}
.icoYoutube{background-position:-262px 0;}


.programacaoTV{
	width:100%;
	clear:both;
	border:1px solid #e3e3e3;
}
.programacaoTV a:hover{color:#999;}
.programacaoTV thead{
	background-color:#e3e3e3;
}
.programacaoTV thead span{
	font-size: 22px;
	line-height: 60px;
	text-align:center;
	display: block;
}
.logoEmissora{
	width: 190px;
	height: 130px;
	display:block;
	margin:0 auto;
}
.programacaoTV tbody tr{vertical-align: middle;border-bottom: 1px solid #ddd;}
.programacaoTV tbody th{font-size: 18px;color:#666;padding:15px 0;border-right: 1px solid #e3e3e3;}
.programacaoTV tbody th:last-child{border-bottom:0;}
.programacaoTV tbody td{border-right: 1px solid #e3e3e3;padding-bottom:10px;}
.semBorda{border-right:0!important;}
.programacaoTV tbody span{
	display: block;
	text-align: center;
}
.logoAntena{
	margin: 0 auto 5px auto;
	display: block;
}
.linkPCompleta{
	text-align: center;
	display: block;
	margin: 0 auto;
	padding: 36px 0;
	width: 230px;
	font-size: 18px;
	line-height: 28px;
	color: #333;
}

/* -- -- -- -- -- PARCEIROS -- -- -- -- -- */
#parceiros{
	padding:0px 0 40px 0;
}
#carouselParceiros{}
#parceiros .carousel-control{background-image:url(../img/arrowsParceiros.png)!important}
#carouselParceiros > .carousel-inner{padding: 0px 0 40px 0;}
#carouselParceiros > .carousel-inner ul{
	width: 840px;
	display: block;
	margin: 20px auto 0 auto;
	
}
#carouselParceiros > .carousel-inner ul li{
	width:195px;
	height:195px;
	margin-top:20px;
	margin-right:20px;
	display:block;
	float:left;
}
#carouselParceiros > .carousel-inner ul li:last-child{margin-right:0;}

/* -- -- -- -- -- CONTATO -- -- -- -- -- */
#contato{
	padding:0 0 40px 0;
}
#formularioContato{
	width:314px;
	margin:40px 0;
	float:left;
}
.inputForm{
	width: 300px;
}
#formMensagem{
	width: 300px;
	height:80px;
}
#botaoEnviar{
	float:right;
	width:120px;
	height:35px;
	margin-top: 15px;
	font-size:16px;
}
#informacoesContato{
	width:560px;
	float:left;
	margin:40px 0 0 80px;
}
#contato h4{
	margin: 20px 0 15px 0;
	font-size: 22px;
}
#contato h5{
	margin: 20px 0 0px 0;
	font-size: 22px;
}
#contato span{margin:10px 0;display: inline-block;}
.informacoesColuna{
	width: 280px;
	float: left;
}
.informacoesColuna{}

.mapas{cursor:pointer;}
.modal{z-index:9!important;}
.modal-header h3{color:#007236;}
.modal-body p{
	text-align: center;
	margin: 30px 0;
	font-size: 16px;
}
/* -- -- -- -- -- RODAPE -- -- -- -- -- */
#rodape{
	height:240px;
	background-color:#eee;
}
.coluna3,.coluna6{float:left;margin-top:40px;}
.coluna3{width:200px;}
.coluna6{width:560px;}
#navRodape span{
	font-size:18px;
	font-weight:900;
	color:#666;
	display: block;
	margin-bottom: 20px;
}
#navRodape a{
	font-size:12px;
	line-height:22px;
	color:#666;
	display:inline-block;
	float: left;
	clear: both;
}
#navRodape a:hover{
}
.coluna6 h2{
	font-size:22px;
	line-height: 20px;
	margin:40px auto 115px auto;
	display:block;
	text-align:center;
	color:#555;
}
.coluna6 span{
	font-size:12px;
	text-align: center;
	display: block;
	color:#666;
}
.dadosInstitucionais{}
.dadosInstitucionais span b{
	font-size:18px;
	margin-bottom: 5px;
	display: inline-block;
	color:#666;
}
.dadosInstitucionais span{
	text-align:right;
	display:block;
	margin-bottom:20px;
	color:#666;
}
.redesSociais{
	display:inline-block;
	float:right;
}
.redesSociais a{
	width:50px;
	height:50px;
	border-radius: 25px;
	background-image: url(../img/iconesSocial.jpg);
	background-repeat: no-repeat;
	float:left;
	margin-right:10px;
	text-indent:-9999px;
}
.redesSociais a:last-child{margin-right:0;}
.icoLinkedin {background-position: -210px 0;}
.icoBlog {background-position: -369px 0;}
#rodape h5{

}

#navRodape{

}